@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400&display=swap");
/* base */
html {
  width: 100%;
}

body {
  width: 100%;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input {
  margin: 0;
  padding: 0;
}

body,
table,
th,
td,
input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  font-weight: 400;
  letter-spacing: 0px;
  font-style: normal;
  text-decoration: none;
}
@media (max-width: 1000px) {
  body,
  table,
  th,
  td,
  input,
  textarea,
  select,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 400px) {
  body,
  table,
  th,
  td,
  input,
  textarea,
  select,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 12px;
    line-height: 18px;
  }
}

img,
fieldset,
iframe {
  border: 0 none;
}

li,
ul,
ol {
  list-style: none;
}

input,
select,
button {
  vertical-align: middle;
}

i,
em,
address {
  font-style: normal;
}

img {
  vertical-align: middle;
  border: none;
}

label,
button {
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
  border: 0px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* a-style */
a {
  color: #333;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #333;
}

/*top_header*/
.top_header {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #4A4A4A;
  font-size: 14px;
  position: relative;
  z-index: 15;
}
@media (max-width: 400px) {
  .top_header {
    font-size: 12px;
  }
}
.top_header #wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0;
}
@media (max-width: 600px) {
  .top_header #wrap {
    padding: 0;
  }
}
.top_header #wrap ul {
  display: flex;
  font-weight: 400;
}
.top_header #wrap ul li {
  width: 120px;
  text-align: center;
  padding: 10px 0;
}
@media (max-width: 400px) {
  .top_header #wrap ul li {
    width: 100px;
  }
}
.top_header #wrap ul li a {
  color: #fff;
}
.top_header #wrap ul li.on {
  border-bottom: 3px solid #6E00E2;
}
.top_header #wrap ul li.on a {
  color: #6E00E2 !important;
}
.top_header #wrap ul li.home {
  width: 50px;
  background-color: #6E00E2;
}
.top_header #wrap ul li.home i {
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}
.top_header #wrap .btn a {
  display: inline-block;
  margin-left: 15px;
  color: #fff;
}
@media (max-width: 600px) {
  .top_header #wrap .btn a {
    display: none;
  }
}
.top_header #wrap .btn .button {
  display: inline-block;
}
.top_header #wrap .btn .button a.point {
  color: #fff;
  background-color: #6E00E2;
  padding: 5px 14px;
  border-radius: 20px;
}
.top_header #wrap .btn .button a.point i {
  margin-right: 9px;
}

.top_header.white {
  background-color: #fff;
}
.top_header.white #wrap ul li a {
  color: #333;
}
.top_header.white #wrap .btn a {
  color: #333;
}

/*lecture*/
.lecture h5 {
  margin: 40px 0 20px 0;
  font-size: 22px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .lecture h5 {
    margin: 30px 0 20px 0;
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .lecture h5 {
    font-size: 16px;
  }
}

.lecture h5 span {
  font-size: 28px;
  margin-right: 10px;
  font-weight: 900;
  letter-spacing: -0.5px;
}
@media (max-width: 1000px) {
  .lecture h5 span {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .lecture h5 span {
    font-size: 20px;
  }
}

.lecture .circle_btn {
  position: relative;
  cursor: pointer;
}

.lecture .circleprev {
  position: absolute;
  left: -42px;
  top: 72px;
}
@media (max-width: 1400px) {
  .lecture .circleprev {
    left: 0;
  }
}
@media (max-width: 330px) {
  .lecture .circleprev {
    display: none;
  }
}

.lecture .circlenext {
  position: absolute;
  right: -18px;
  top: 72px;
}
@media (max-width: 1400px) {
  .lecture .circlenext {
    right: 0;
  }
}
@media (max-width: 330px) {
  .lecture .circlenext {
    display: none;
  }
}

.lecture .circle_btn i {
  font-size: 27px;
  opacity: 0.5;
}

.lecture .circle_btn i:hover {
  opacity: 1;
}

.edu_contents {
  width: 279px;
}
@media (max-width: 1400px) {
  .edu_contents {
    margin: 0 auto;
  }
}
@media (max-width: 279px) {
  .edu_contents {
    width: 100%;
  }
}

.edu_contents .img {
  width: 279px;
  height: 157px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (max-width: 279px) {
  .edu_contents .img {
    width: 100%;
  }
}

.edu_contents .img .number {
  position: absolute;
  bottom: 18px;
  left: -12px;
  font-size: 80px;
  font-weight: bold;
  display: none;
}

.edu_contents .title {
  margin: 10px 0;
  cursor: pointer;
}

.edu_contents .title .tag {
  font-size: 15px;
  display: inline-block;
  margin: 4px 0;
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .edu_contents .title .tag {
    font-size: 13px;
  }
}

.edu_contents .title strong {
  display: block;
}
@media (max-width: 400px) {
  .edu_contents .title strong {
    font-size: 14px;
  }
}

.edu_contents .title .lecture_save,
.edu_contents .title .lecture_time {
  display: inline-block;
  margin-top: 7px;
  margin-right: 10px;
  font-size: 15px;
  opacity: 0.7;
}
@media (max-width: 1000px) {
  .edu_contents .title .lecture_save,
  .edu_contents .title .lecture_time {
    font-size: 13px;
  }
}

.edu_contents .title .lecture_save i,
.edu_contents .title .lecture_time i {
  margin-right: 5px;
}

/*footer*/
.footer_top {
  padding: 20px 0;
  background-color: #0a1927;
}
.footer_top ul li {
  display: inline-block;
  padding-right: 20px;
}
.footer_top ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 600px) {
  .footer_top ul li a {
    font-size: 12px;
  }
}

.footer_bottom {
  padding: 20px 0;
  background-color: #101f45;
  color: #d9d9d9;
  font-size: 12px;
}

/* Default Align */
.ta_l {
  text-align: left !important;
}

.ta_c {
  text-align: center !important;
}

.ta_r {
  text-align: right !important;
}

/* padding */
.pt0 {
  padding-top: 0px !important;
}

.pt1 {
  padding-top: 1px !important;
}

.pt2 {
  padding-top: 2px !important;
}

.pt3 {
  padding-top: 3px !important;
}

.pt4 {
  padding-top: 4px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt6 {
  padding-top: 6px !important;
}

.pt7 {
  padding-top: 7px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pt9 {
  padding-top: 9px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pl1 {
  padding-left: 1px !important;
}

.pl2 {
  padding-left: 2px !important;
}

.pl3 {
  padding-left: 3px !important;
}

.pl4 {
  padding-left: 4px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl6 {
  padding-left: 6px !important;
}

.pl7 {
  padding-left: 7px !important;
}

.pl8 {
  padding-left: 8px !important;
}

.pl9 {
  padding-left: 9px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl13 {
  padding-left: 13px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.pl70 {
  padding-left: 70px !important;
}

.pl80 {
  padding-left: 80px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pr1 {
  padding-right: 1px !important;
}

.pr2 {
  padding-right: 2px !important;
}

.pr3 {
  padding-right: 3px !important;
}

.pr4 {
  padding-right: 4px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr6 {
  padding-right: 6px !important;
}

.pr7 {
  padding-right: 7px !important;
}

.pr8 {
  padding-right: 8px !important;
}

.pr9 {
  padding-right: 9px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr12 {
  padding-right: 12px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pr73 {
  padding-right: 73px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pr77 {
  padding-right: 77px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pr83 {
  padding-right: 83px !important;
}

.pr85 {
  padding-right: 85px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pb1 {
  padding-bottom: 1px !important;
}

.pb2 {
  padding-bottom: 2px !important;
}

.pb3 {
  padding-bottom: 3px !important;
}

.pb4 {
  padding-bottom: 4px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb6 {
  padding-bottom: 6px !important;
}

.pb7 {
  padding-bottom: 7px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

.pb9 {
  padding-bottom: 9px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

/* margin */
.margin0 {
  margin: 0px !important;
}

.margin05 {
  margin: 5px !important;
}

.margin10 {
  margin: 10px !important;
}

.margin15 {
  margin: 15px !important;
}

.margin20 {
  margin: 20px !important;
}

.margin25 {
  margin: 25px !important;
}

.margin30 {
  margin: 30px !important;
}

.margin35 {
  margin: 35px !important;
}

.margin40 {
  margin: 40px !important;
}

.margin45 {
  margin: 45px !important;
}

.margin50 {
  margin: 50px !important;
}

.mt-2 {
  margin-top: -2px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt1 {
  margin-top: 1px !important;
}

.mt2 {
  margin-top: 2px !important;
}

.mt3 {
  margin-top: 3px !important;
}

.mt4 {
  margin-top: 4px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt6 {
  margin-top: 6px !important;
}

.mt7 {
  margin-top: 7px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mt9 {
  margin-top: 9px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ml1 {
  margin-left: 1px !important;
}

.ml2 {
  margin-left: 2px !important;
}

.ml3 {
  margin-left: 3px !important;
}

.ml4 {
  margin-left: 4px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml6 {
  margin-left: 6px !important;
}

.ml7 {
  margin-left: 7px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.ml9 {
  margin-left: 9px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml12 {
  margin-left: 12px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr1 {
  margin-right: 1px !important;
}

.mr2 {
  margin-right: 2px !important;
}

.mr3 {
  margin-right: 3px !important;
}

.mr4 {
  margin-right: 4px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr6 {
  margin-right: 6px !important;
}

.mr7 {
  margin-right: 7px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.mr9 {
  margin-right: 9px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr12 {
  margin-right: 12px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb1 {
  margin-bottom: 1px !important;
}

.mb2 {
  margin-bottom: 2px !important;
}

.mb3 {
  margin-bottom: 3px !important;
}

.mb4 {
  margin-bottom: 4px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb6 {
  margin-bottom: 6px !important;
}

.mb7 {
  margin-bottom: 7px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mb9 {
  margin-bottom: 9px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.phonenumber_input {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}
.phonenumber_input input {
  width: 30%;
}/*# sourceMappingURL=common.css.map */