@charset "UTF-8";
#wrap {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.main_banner::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to right, #000, transparent);
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-4096px, 0, 0);
  }
}
.main_banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.main_banner .bg {
  position: absolute;
  width: 8192px;
  height: 100%;
  background: url(../img/main/main_banner.png) repeat-x;
  background-size: contain;
  animation: slide 60s linear infinite;
}
.main_banner .login {
  z-index: 15;
  position: absolute;
  top: 50px;
  right: 50px;
}
@media (max-width: 1000px) {
  .main_banner .login {
    top: 25px;
    right: 10px;
  }
}
.main_banner .login button {
  background-color: rgba(255, 255, 255, 0.6);
  width: 145px;
  height: 50px;
  border-radius: 50px;
  font-weight: 400;
  transition: all 0.3s ease;
}
@media (max-width: 1000px) {
  .main_banner .login button {
    width: 130px;
    height: 43px;
  }
}
@media (max-width: 400px) {
  .main_banner .login button {
    width: 100px;
    height: 35px;
  }
}
.main_banner .login button i {
  margin-right: 5px;
}
.main_banner .login button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.main_banner .txt_wrap {
  z-index: 10;
  position: relative;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1000px) {
  .main_banner .txt_wrap {
    width: 100%;
  }
}
@media (max-width: 1400px) {
  .main_banner .txt_wrap {
    margin: 0 15px;
  }
}
.main_banner .txt_wrap .top {
  font-size: 30px;
  line-height: 45px;
}
@media (max-width: 1000px) {
  .main_banner .txt_wrap .top {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 400px) {
  .main_banner .txt_wrap .top {
    font-size: 18px;
    line-height: 25px;
  }
}
.main_banner .txt_wrap .logo {
  width: 90%;
}
@media (max-width: 1700px) {
  .main_banner .txt_wrap .logo {
    width: 50%;
  }
}
.main_banner .txt_wrap .logo img {
  width: 100%;
}
.main_banner .txt_wrap .bottom {
  font-size: 40px;
  line-height: 60px;
  margin-top: 50px;
  display: block;
}
@media (max-width: 1700px) {
  .main_banner .txt_wrap .bottom {
    font-size: 30px;
    line-height: 40px;
    margin-top: 25px;
  }
}
@media (max-width: 1000px) {
  .main_banner .txt_wrap .bottom {
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .main_banner .txt_wrap .bottom {
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
  }
}
.main_banner .txt_wrap .txt {
  margin: 50px 0;
  font-size: 40px;
  line-height: 60px;
  font-weight: 500;
}
@media (max-width: 1700px) {
  .main_banner .txt_wrap .txt {
    font-size: 30px;
    line-height: 45px;
    margin: 25px 0;
  }
}
@media (max-width: 1000px) {
  .main_banner .txt_wrap .txt {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0;
  }
}
@media (max-width: 400px) {
  .main_banner .txt_wrap .txt {
    font-size: 18px;
  }
}
@media (max-width: 1000px) {
  .main_banner .txt_wrap .button {
    display: flex;
    justify-content: space-evenly;
  }
}
.main_banner .txt_wrap .button button {
  width: 300px;
  height: 60px;
  background-color: #6e00e2;
  color: #fff;
  font-size: 20px;
  transition: all 0.3s ease;
}
@media (max-width: 1000px) {
  .main_banner .txt_wrap .button button {
    width: 50%;
    height: 50px;
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .main_banner .txt_wrap .button button {
    height: 40px;
    font-size: 14px;
  }
}
.main_banner .txt_wrap .button button:hover {
  background-color: #5903b3;
}
.main_banner .txt_wrap .button button.content {
  margin-left: 25px;
}

.main_con {
  margin: 80px 0;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .main_con {
    margin: 40px 0;
  }
}
.main_con .title {
  text-align: center;
  margin: 50px 0;
}
@media (max-width: 1000px) {
  .main_con .title {
    margin: 25px 0;
  }
}
.main_con .title h1 {
  font-size: 60px;
  line-height: 100px;
  font-weight: bold;
}
@media (max-width: 1000px) {
  .main_con .title h1 {
    font-size: 36px;
    line-height: 64px;
    padding: 0 10px;
  }
}
@media (max-width: 400px) {
  .main_con .title h1 {
    font-size: 24px;
    line-height: 40px;
  }
}
.main_con .title h1 span {
  background: linear-gradient(to right, #5f42dc, #0a98a1);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  letter-spacing: -0.5px;
}
.main_con .title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
@media (max-width: 1000px) {
  .main_con .title p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 400px) {
  .main_con .title p {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .main_con.con1 .title h1 {
    font-size: 40px;
  }
}
@media (max-width: 1000px) and (max-width: 400px) {
  .main_con.con1 .title h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }
}
.main_con.con1 ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media (max-width: 1000px) {
  .main_con.con1 ul {
    grid-template-columns: 1fr;
  }
}
.main_con.con1 ul li .card {
  border-radius: 30px;
  background-color: #e3f0f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0;
  transition: all 0.3s ease;
  transform: translateY(0px);
}
@media (max-width: 1000px) {
  .main_con.con1 ul li .card {
    padding: 20px 0;
  }
}
.main_con.con1 ul li .card strong {
  font-size: 22px;
  color: #6114b2;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .main_con.con1 ul li .card strong {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .main_con.con1 ul li .card strong {
    font-size: 18px;
  }
}
.main_con.con1 ul li .card p {
  font-weight: 500;
}
.main_con.con1 ul li .card:hover {
  transform: translateY(-10px);
}
.main_con.con1 .bottom {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  padding: 25px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
@media (max-width: 1000px) {
  .main_con.con1 .bottom {
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;
    padding: 20px;
  }
}
@media (max-width: 400px) {
  .main_con.con1 .bottom {
    font-size: 14px;
    padding: 15px;
  }
}

.main_con.con2 {
  background: linear-gradient(to top, #2f0a54, #6e00e2);
  color: #fff;
}
.main_con.con2 #wrap {
  padding: 5px 0;
}
@media (max-width: 1000px) {
  .main_con.con2 #wrap {
    padding: 10px;
  }
}
.main_con.con2 h1 {
  color: #fff;
}
.main_con.con2 ul {
  margin-bottom: 100px;
}
@media (max-width: 400px) {
  .main_con.con2 ul {
    margin-bottom: 70px;
  }
}
.main_con.con2 ul li {
  background-color: #030000;
  display: flex;
  justify-content: space-between;
  padding: 35px;
  margin-bottom: 15px;
  border-radius: 30px;
}
@media (max-width: 1000px) {
  .main_con.con2 ul li {
    padding: 30px;
  }
}
@media (max-width: 400px) {
  .main_con.con2 ul li {
    padding: 20px;
  }
}
.main_con.con2 ul li .left {
  position: relative;
  padding-left: 70px;
}
@media (max-width: 1000px) {
  .main_con.con2 ul li .left {
    padding-top: 35px;
    padding-left: 0px;
  }
}
@media (max-width: 400px) {
  .main_con.con2 ul li .left {
    padding-top: 23px;
  }
}
.main_con.con2 ul li .left span {
  color: #ffb800;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 1000px) {
  .main_con.con2 ul li .left span {
    font-size: 25px;
  }
}
@media (max-width: 400px) {
  .main_con.con2 ul li .left span {
    font-size: 20px;
  }
}
.main_con.con2 ul li .left strong {
  font-size: 30px;
}
@media (max-width: 1000px) {
  .main_con.con2 ul li .left strong {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width: 400px) {
  .main_con.con2 ul li .left strong {
    font-size: 16px;
    line-height: 30px;
  }
}
.main_con.con2 ul li .left p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 18px;
}
@media (max-width: 1000px) {
  .main_con.con2 ul li .left p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 14px;
  }
}
@media (max-width: 400px) {
  .main_con.con2 ul li .left p {
    font-size: 14px;
    margin-top: 5px;
  }
}
@media (max-width: 1000px) {
  .main_con.con2 ul li .right {
    display: none;
  }
}

@media (max-width: 1000px) {
  .main_con.con3 .title h1 {
    width: 230px;
    margin: 0 auto;
    line-height: 60px;
  }
}
@media (max-width: 1000px) and (max-width: 400px) {
  .main_con.con3 .title h1 {
    width: 168px;
    line-height: 45px;
  }
}
.main_con.con3 ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
}
@media (max-width: 1000px) {
  .main_con.con3 ol {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 600px) {
  .main_con.con3 ol {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
@media (max-width: 400px) {
  .main_con.con3 ol {
    gap: 15px;
  }
}
.main_con.con3 li {
  padding: 40px 0 50px 0;
  text-align: center;
  border-radius: 30px;
  position: relative;
}
@media (max-width: 1000px) {
  .main_con.con3 li {
    padding: 30px 0 40px 0;
  }
}
@media (max-width: 600px) {
  .main_con.con3 li {
    padding: 20px 0 30px 0;
  }
}
@media (max-width: 400px) {
  .main_con.con3 li {
    padding: 15px 0 20px 0;
  }
}
.main_con.con3 li span {
  color: #c4ade9;
}
.main_con.con3 li strong {
  color: #fff;
  font-size: 24px;
  display: block;
  margin-top: 15px;
}
@media (max-width: 600px) {
  .main_con.con3 li strong {
    margin-top: 10px;
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .main_con.con3 li strong {
    margin-top: 6px;
    font-size: 16px;
  }
}
.main_con.con3 li::after {
  position: absolute;
  right: -56px;
  top: 49px;
  background-image: url(../img/main/arrow.png);
  width: 50px;
  height: 50px;
  content: "";
}
@media (max-width: 1000px) {
  .main_con.con3 li::after {
    display: none;
  }
}
.main_con.con3 li:nth-of-type(1) {
  background-color: #9d79d8;
}
.main_con.con3 li:nth-of-type(2) {
  background-color: #8c68c8;
}
.main_con.con3 li:nth-of-type(3) {
  background-color: #815dbc;
}
.main_con.con3 li:nth-of-type(4) {
  background-color: #6b48a4;
}
.main_con.con3 li:nth-of-type(4)::after {
  display: none;
}

.main_con.con4 {
  background-color: #f0f0f8;
  padding: 30px 0;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0px;
}
@media (max-width: 1000px) {
  .main_con.con4 {
    display: none;
  }
}
.main_con.con4 .swiper {
  margin-bottom: 50px;
  overflow: visible;
  position: relative;
}
.main_con.con4 .swiper .banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 188px;
  height: 167px;
  text-align: center;
  padding: 56px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  color: #fff;
  z-index: 10;
  background: linear-gradient(#6e00e2, #3c007c);
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.25);
}
.main_con.con4 .swiper-wrapper {
  transition-timing-function: linear;
}
.main_con.con4 .swiper-slide .img {
  width: 297px;
  height: 167px;
  background-size: cover;
  border-radius: 20px;
}

.bottom_banner {
  background-color: #dedeff;
}
.bottom_banner #wrap {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
}
@media (max-width: 1000px) {
  .bottom_banner #wrap {
    flex-direction: column;
    gap: 20px;
  }
}
.bottom_banner #wrap .logo {
  width: 188px;
}
.bottom_banner #wrap .logo img {
  width: 100%;
}
.bottom_banner #wrap span {
  font-size: 19px;
  color: #5e5e5e;
  font-weight: 600;
  margin-top: 5px;
}
@media (max-width: 1000px) {
  .bottom_banner #wrap span {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
.bottom_banner #wrap .button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
@media (max-width: 1000px) {
  .bottom_banner #wrap .button {
    gap: 0px;
    justify-items: center;
    width: 100%;
  }
}
.bottom_banner #wrap .button button {
  font-weight: 500;
  width: 200px;
  height: 45px;
  border-radius: 45px;
  color: #fff;
}
@media (max-width: 1000px) {
  .bottom_banner #wrap .button button {
    width: 90%;
  }
}
.bottom_banner #wrap .button button.ask {
  position: relative;
  padding-right: 16px;
  background-color: #6e00e2;
}
@media (max-width: 1000px) {
  .bottom_banner #wrap .button button.ask {
    padding-right: 0px;
  }
}
.bottom_banner #wrap .button button.ask i {
  position: absolute;
  top: 15px;
  left: 127px;
}
@media (max-width: 1000px) {
  .bottom_banner #wrap .button button.ask i {
    position: initial;
  }
}
.bottom_banner #wrap .button button.call {
  background-color: #9e97ce;
}
.bottom_banner #wrap .button button:hover i {
  animation: right 0.5s infinite alternate ease-in;
}

@keyframes right {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(10px);
  }
}
/*1:1문의 팝업*/
#modal01 {
  padding: 50px;
}

@media (max-width: 1000px) {
  #modal01 {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}
#modal01 .close-btn {
  top: 50px;
  right: 50px;
}

@media (max-width: 1000px) {
  #modal01 .close-btn {
    top: 30px;
    right: 25px;
  }
  #modal01 .close-btn i {
    font-size: 30px;
  }
}
#modal01 h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
}

@media (max-width: 1000px) {
  #modal01 h2 {
    font-size: 20px;
    line-height: 30px;
  }
}
#modal01 .input_wrap {
  display: flex;
  margin-top: 30px;
}

@media (max-width: 1000px) {
  #modal01 .input_wrap {
    display: block;
    margin-top: 20px !important;
  }
}
#modal01 .input_wrap .title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 136px;
}

@media (max-width: 1000px) {
  #modal01 .input_wrap .title {
    font-size: 15px;
    padding: 10px 0;
  }
}
#modal01 .input_wrap .input_box {
  display: flex;
  flex-direction: column;
  width: 600px;
}

@media (max-width: 1000px) {
  #modal01 .input_wrap .input_box {
    width: 100%;
  }
}
#modal01 .input_wrap .input_box select,
#modal01 .input_wrap .input_box input,
#modal01 .input_wrap .input_box textarea {
  border: 1px solid #ccc;
  background-color: transparent;
  padding: 15px;
  border-radius: 8px;
  margin: 5px 0;
  position: relative;
}

#modal01 .input_wrap .input_box select {
  background: url("../img/common/caret-down-fill.png") no-repeat 97% 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#modal01 .input_wrap .input_box select option {
  padding: 2px 5px;
  color: #2d2d2d;
}

#modal01 .input_wrap .input_box select option:hover {
  background-color: aliceblue;
}

#modal01 .input_wrap .input_box span {
  font-size: 14px;
  color: #999;
  margin-top: 13px;
}

#modal01 .submit_btn {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

#modal01 .submit_btn button {
  width: 300px;
  padding: 15px 0;
  background-color: #6e00e2;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease;
}

#modal01 .submit_btn button:hover {
  background-color: #5903b3;
}

#modal01 .notice_box {
  margin-top: 50px;
  padding: 10px;
}
@media (max-width: 1000px) {
  #modal01 .notice_box {
    margin-top: 30px;
  }
}

#modal01 .notice_box .title {
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 1000px) {
  #modal01 .notice_box .title {
    font-size: 15px;
  }
}

#modal01 .notice_box .content {
  margin: 20px 0;
  line-height: 30px;
  padding: 12px;
  border: 1px solid;
  opacity: 0.8;
}

#modal01 .notice_box .agree input {
  width: 15px;
  height: 15px;
  border: 1px solid;
  margin-top: -3px;
}

#modal01 .notice_box .agree label {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */